@page
@model IndexModel
@{
    ViewData["Title"] = "Train Watch";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a a site I created for a school project. It basically has user input their information in a form.</p>
    <p>It will then echo this information back to them on the same page.</p>
</div>
